In [1]:
# import dependancies
import pandas as pd

In [2]:
# reviews file to load
music_vine_df = pd.read_csv("music_vine_table.csv")
music_vine_df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,R3LI5TRP3YIDQL,5.0,0.0,0.0,N,Y
1,R3LGC3EKEG84PX,5.0,0.0,0.0,N,Y
2,R9PYL3OYH55QY,5.0,0.0,1.0,N,Y
3,R3PWBAWUS4NT0Q,3.0,0.0,0.0,N,Y
4,R15LYP3O51UU9E,5.0,0.0,0.0,N,Y
...,...,...,...,...,...,...
4751572,RCCO7QP25QFYU,5.0,30.0,31.0,N,N
4751573,R2K6VMIL048HD3,5.0,6.0,7.0,N,N
4751574,R1ZOIUY0UMHPE4,5.0,4.0,4.0,N,N
4751575,R4X9DR0KSYFXD,4.0,1.0,1.0,N,N
4751576,R87VUTMFOE6N,5.0,0.0,1.0,N,N

In [3]:
# explore the dataframe
music_vine_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4751577 entries, 0 to 4751576
Data columns (total 6 columns):
 #   Column             Dtype
---  ------             -----
 0   review_id          object
 1   star_rating        float64
 2   helpful_votes      float64
 3   total_votes        float64
 4   vine               object
 5   verified_purchase  object
dtypes: float64(3), object(3)
memory usage: 217.5+ MB

## Step 1 
Filter the data and create a new DataFrame or table to retrieve all the rows where the total_votes count is equal to or greater than 20 to pick reviews that are more likely to be helpful and to avoid having division by zero errors later on.

In [4]:
# filtering all rows where total_votes >=20
music_vine_20_df = music_vine_df[music_vine_df["total_votes"] >= 20]
music_vine_20_df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
168,R2SHXRL6SL1GC9,3.0,25.0,26.0,N,Y
521,R2ZC033X86YOY8,5.0,25.0,26.0,N,N
761,R2736RJGCOSL80,5.0,19.0,20.0,N,Y
1163,RRY5DJ6J9BKAX,5.0,19.0,21.0,N,Y
1169,R2P4PJJ2ROTPBM,5.0,46.0,48.0,N,N
...,...,...,...,...,...,...
4751465,R290AULZDD2PG0,5.0,43.0,46.0,N,N
4751516,R2LKZ44JYVBOEO,5.0,20.0,21.0,N,N
4751544,R34DT53CZF7347,5.0,31.0,33.0,N,N
4751552,R1Z9UU2HN7TBNU,5.0,30.0,30.0,N,N
4751572,RCCO7QP25QFYU,5.0,30.0,31.0,N,N

## Step 2
Filter the new DataFrame or table created in Step 1 and create a new DataFrame or table to retrieve all the rows where the number of helpful_votes divided by total_votes is equal to or greater than 50%.

In [5]:
# all the rows where the number of helpful_votes divided by total_votes is equal to or greater than 50%.
music_vine_50_df = music_vine_20_df.loc[(music_vine_20_df["helpful_votes"] / music_vine_20_df["total_votes"] >= 0.5)]
music_vine_50_df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
168,R2SHXRL6SL1GC9,3.0,25.0,26.0,N,Y
521,R2ZC033X86YOY8,5.0,25.0,26.0,N,N
761,R2736RJGCOSL80,5.0,19.0,20.0,N,Y
1163,RRY5DJ6J9BKAX,5.0,19.0,21.0,N,Y
1169,R2P4PJJ2ROTPBM,5.0,46.0,48.0,N,N
...,...,...,...,...,...,...
4751465,R290AULZDD2PG0,5.0,43.0,46.0,N,N
4751516,R2LKZ44JYVBOEO,5.0,20.0,21.0,N,N
4751544,R34DT53CZF7347,5.0,31.0,33.0,N,N
4751552,R1Z9UU2HN7TBNU,5.0,30.0,30.0,N,N
4751572,RCCO7QP25QFYU,5.0,30.0,31.0,N,N

# Step 3
Filter the DataFrame or table created in Step 2, and create a new DataFrame or table that retrieves all the rows where a review was written as part of the Vine program (paid), vine == 'Y'.

In [6]:
# filter vine_50_df where vine= Y : paid reviews
music_vine_paid_reviews_df = music_vine_50_df.loc[music_vine_50_df["vine"] == 'Y']
music_vine_paid_reviews_df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
2279918,R84VUCDBCI29U,3.0,18.0,28.0,Y,N
2309315,R4V3ICFDTIDIF,4.0,20.0,21.0,Y,N
2316381,R1JZ0JAPW83WFS,4.0,54.0,58.0,Y,N
2520261,R1XH7EA97FAVP7,3.0,35.0,44.0,Y,N
2521506,R1482JAU1ZR7QH,4.0,15.0,22.0,Y,N
2549060,R1GGYGVTHP84DG,4.0,25.0,27.0,Y,N
2564217,RXGU9DSKZJSP0,3.0,21.0,22.0,Y,N

# Step 4
Repeat Step 3, but this time retrieve all the rows where the review was not part of the Vine program (unpaid), vine == 'N'.

In [7]:
# filter vine_50_df where vine= N : unpaid reviews
music_vine_unpaid_reviews_df = music_vine_50_df.loc[music_vine_50_df["vine"] == 'N']
music_vine_unpaid_reviews_df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
168,R2SHXRL6SL1GC9,3.0,25.0,26.0,N,Y
521,R2ZC033X86YOY8,5.0,25.0,26.0,N,N
761,R2736RJGCOSL80,5.0,19.0,20.0,N,Y
1163,RRY5DJ6J9BKAX,5.0,19.0,21.0,N,Y
1169,R2P4PJJ2ROTPBM,5.0,46.0,48.0,N,N
...,...,...,...,...,...,...
4751465,R290AULZDD2PG0,5.0,43.0,46.0,N,N
4751516,R2LKZ44JYVBOEO,5.0,20.0,21.0,N,N
4751544,R34DT53CZF7347,5.0,31.0,33.0,N,N
4751552,R1Z9UU2HN7TBNU,5.0,30.0,30.0,N,N
4751572,RCCO7QP25QFYU,5.0,30.0,31.0,N,N

# Step 5
Determine the total number of reviews, the number of 5-star reviews, and the percentage of 5-star reviews for the two types of review (paid vs unpaid)

In [8]:
# determine the count of paid 5 star reviews
paid_five_star_reviews = music_vine_paid_reviews_df.loc[music_vine_paid_reviews_df["star_rating"] == 5]["star_rating"].count()
paid_five_star_reviews

0

In [9]:
# determine the count of paid reviews
paid_reviews = music_vine_paid_reviews_df["star_rating"].count()
paid_reviews

7

In [10]:
# determine the % of paid 5 * reviews
percentage_paid_five_star_reviews = (paid_five_star_reviews / paid_reviews) * 100
percentage_paid_five_star_reviews

0.0

In [11]:
# determine the count of unpaid 5 star reviews
unpaid_five_star_reviews = music_vine_unpaid_reviews_df.loc[music_vine_unpaid_reviews_df["star_rating"] == 5]["star_rating"].count()
unpaid_five_star_reviews

67580

In [12]:
# determine the count of unpaid reviews
unpaid_reviews = music_vine_unpaid_reviews_df["star_rating"].count()
unpaid_reviews

105979

In [13]:
# determine the % of paid 5 * reviews
percentage_unpaid_five_star_reviews = (unpaid_five_star_reviews / unpaid_reviews) * 100
percentage_unpaid_five_star_reviews

63.767350135404186